server:
  port: 8082

spring:
  application:
    name: parking-lot-design

  datasource:
    url: jdbc:h2:mem:parkingdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.parking: DEBUG

